@charset"UTF-8";

body{
    background-color: lightgray;
}
main{
    background-color: white;
    padding: 15px;
}
h1{
    text-align: center;
}

a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
iframe{
    width: 96vw;
    height: 300px;
    border: 2px solid black;
}